{% extends "base.html" %}

{% include "navbar.html" %}

{% block content %}
<div class="container mt-4">
    {% include "_messages.html" %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm">
                <thead>
                    <th>Sr</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>Subtotal</th>
                    <th>Update</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    {% for key,product in session['Shoppingcart'].items() %}
                    {% set discount = "%0.2f"|format((product.discount/100) * product.price|int) %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td><img src="{{url_for('static', filename='images/'+ product.image)}}"alt="{{product.name}}"width="60"height="40"></td>
                        <td>{{product.name}}</td>
                        <form action="{{url_for('updatecart', code=key)}}" method="POST">
                            <td>
                                {% set color = product.color.split(',') %}
                                <label for="colors">Colors:</label>
                                <select name="color" id="color">
                                    <option value="{{product.colors}}"style="display:none">{{product.colors|capitalize}}</option>
                                    {% for _color in color %}
                                    {% set col = _color.split(':') %}
                                    <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>Ksh{{"%0.2f" |format(product.price)}}</td>
                            <td><input type="number" name="quantity" min="1" max="{{product.stock}}"value="{{product.quantity}}"></td>
                            {% if product.discount > 0 %}
                            <td>{{product.discount}}% &nbsp;is {{discount}}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% set subtotal = product.quantity|int * product.price|int %}
                            <td>{{"%0.2f"|format((subtotal|int) - discount|float)}}</td>
                            <td><button type="submit" class="btn btn-sm btn-info">Update</button></td>
                        </form> 
                        <td><a href="{{url_for('deleteitem', id=key)}}" class="btn btn-sm btn-danger">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-sm">
                <tr>
                    <td><a href="{{url_for('get_order')}}" class="btn btn-success">Order now</a></td>
                    <td width="35%"></td>
                    <td colspan="3"><h5>Tax: Ksh{{tax}}</h5></td>
                    <td colspan="4"><h5>Grand Total: Ksh{{grandtotal}}</h5></td>
                    <td><a href="{{url_for('clearcart')}}" class="btn btn-danger btn-sm float-right mr-2">Clear cart</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}